.tjbox{
    width: 55%;
    display: inline-flexbox;
    justify-content: baseline;
    height: 370px;
	border: 5px solid #000;
    margin-left: 10px;
}

.tjtitle{
    background-color: rgb(255, 153, 0);
    height: 50px;
    width: 100%;
    font-size: 30px;
    display: center;
    justify-content: space-between;
    color: black;
}

.tjitems{
    background-color: rgb(231, 187, 105);
    height: 310px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.pruebita{
    border-radius: 10px;
    border: 0;
    box-shadow: none;
    color: transparent;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
}