.hebox{
    width: 30%;
    display: inline-flexbox;
    justify-content: baseline;
    height: 650px;
    justify-self: flex-end;
	border: 5px solid #000;
    margin-right: 200px;
}

.hetitle{
    background-color: rgb(255, 153, 0);
    height: 50px;
    width: 100%;
    font-size: 30px;
    justify-content: baseline;
    display: center;
    justify-content: space-between;
    color: black;
}

.heitems{
    background-color: rgb(231, 187, 105);
    height: 590px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
