.titulotienda{
    width: 20%;
    background-color: transparent;
    height: 90px;
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    color: lightblue;
    text-shadow: 10px 10px 10px black, 0 0 5px black;
    align-items: start;
    align-self: center;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.titulosettings{
    width: 40%;
    background-color: transparent;
    height: 90px;
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    color: lightblue;
    text-shadow: 10px 10px 10px black, 0 0 5px black;
    align-items: start;
    align-self: center;
    border: none;
    border-radius: 10px;
}

.titulopartido{
    width: 40%;
    background-color: transparent;
    height: 90px;
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    color: lightblue;
    text-shadow: 10px 10px 10px black, 0 0 5px black;
    align-items: start;
    align-self: center;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.tituloMiEquipo{
    width: 60%;
    background-color: transparent;
    height: 80px;
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    color: lightblue;
    text-shadow: 10px 10px 10px black, 0 0 5px black;
    align-items: start;
    align-self: center;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.titulohelp{
    width: 30%;
    background-color: transparent;
    height: 90px;
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    color: lightblue;
    text-shadow: 10px 10px 10px black, 0 0 5px black;
    align-items: start;
    align-self: center;
    border: none;
    border-radius: 10px;
}

.tituloEstadisticas{
    width: 60%;
    background-color: transparent;
    height: 80px;
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    color: lightblue;
    text-shadow: 10px 10px 10px black, 0 0 5px black;
    align-items: start;
    align-self: center;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}