.tIbox{
    width: 20%;
    display: inline-flexbox;
    justify-content: baseline;
    height: 460px;
    justify-self: flex-end;
	border: 5px solid #000;
    margin-right: 10px;
    position: absolute;
    top: 150px;
    left: 1400px;
}

.tItitle{
    background-color: rgb(5, 82, 5);
    height: 50px;
    width: 100%;
    font-size: 30px;
    display: center;
    justify-content: space-between;
    color: black;
}

.tIitems{
    background-color: rgb(0, 116, 0);
    height: 400px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}