.sgbox{
    width: 30%;
    display: inline-flexbox;
    justify-content: baseline;
    height: 650px;
	border: 5px solid #000;
    margin-left: 200px;
}

.sgtitle{
    background-color: blue;
    height: 50px;
    width: 100%;
    font-size: 30px;
    display: center;
    justify-content: space-between;
    color: azure;
}

.sgitems{
    background-color: gray;
    height: 590px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}