.mHeaderButton {
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
  }
  
  .mHeaderButton:hover {
    cursor: pointer;
  }
  
  .mHeaderButton-text {
    color: white;
    text-decoration: none;
  }
  
  .mHeaderButton-text:hover {
    color: #3500f3;
  }
  
  .myButton41{
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
}

.myButton41:hover{
    color: rgb(147, 226, 147);
    cursor: pointer;
}

.myButton41-text{
    color: white;
    text-decoration: none;
    
}

.myButton41-text:hover{
    color: rgb(66, 80, 209);
}

.myButtonset{
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  color: transparent;
  width: 60px;
  height: 60px;
  font-size: xx-large;
  background-image: url("../../../public/settingslogo.png");
}

.myButtonset:hover{
color: transparent;
}

