.mHeaderButton {
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
  }
  
  .mHeaderButton:hover {
    cursor: pointer;
  }
  
  .mHeaderButton-text {
    color: white;
    text-decoration: none;
  }
  
  .mHeaderButton-text:hover {
    color: gray;
  }
  
  .myButton41{
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
}

.myButton41:hover{
    color: gray;
    cursor: pointer;
}

.myButton41-text{
    color: white;
    text-decoration: none;
    
}

.myButton41-text:hover{
    color: gray;
}

.myButtonset{
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  width: 60px;
  height: 60px;
  font-size: x-large;
  margin-top: -8px;
}

.myButtonset:hover{
color: transparent;
}

