.bstyle{
    height: 60px;
    width: 100%;
    background-color: rgb(255, 153, 0);
    opacity: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.innerContainer{
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 2%;
}

.leftContainer{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

.mHeaderBar-logo {
    height: 50px;
    width: 50px;
  }


.mHeaderBar-navbar {
    background-color: rgb(255, 153, 0);
    display: flex;
    height: 65px;
    justify-content: space-between;
    padding: 0px 35px 0px 50px;
    max-width: 100%;
    z-index: 100;
}
  
.mHeaderBar-leftContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: 80%;
}
  
.mHeaderBar-rightContainer {
    display: flex;
    height: 65px;
}