.bstyle{
    height: 60px;
    width: 100%;
    background-color: green;
    opacity: 85%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.innerContainer{
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 2%;
}

.leftContainer{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-right: 2%;
}

.mHeaderBar-logo {
    height: auto;
    width: auto;
  }