.myButton3{
    background-color: transparent;
    border-radius: 10px;
    border: 0;
    box-shadow: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}

.myButton3:hover{
    color: gray;
    cursor: pointer;
}

.myButton3-text{
    color: white;
    text-decoration: none;
    
}

.myButton3-text:hover{
    color: gray;
}
