.sbutton{
    background-color: blue;
    border-radius: 10px;
    border: 0;
    box-shadow: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    position: center;
    text-align: center;
    width: 90%;
    height: 10%;
    margin: 5%;
}

.hbutton{
    background-color: blue;
    border-radius: 10px;
    border: 0;
    box-shadow: none;
    color: white;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    width: 90%;
    height: 40px;
    margin: 4%;
}

.foobutton{
    background-color: transparent;
    border-radius: 10px;
    border: 0;
    box-shadow: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    width: 90%;
    height: 5%;
    margin: 4%;
}