.sbutton{
    background-color: yellowgreen;
    border-radius: 10px;
    border: 0;
    box-shadow: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    width: 90%;
    height: 5%;
    margin: 4%;
}

.hbutton{
    background-color: yellowgreen;
    border-radius: 10px;
    border: 0;
    box-shadow: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    width: 90%;
    height: 5%;
    margin: 4%;
}
