.EQbox{
    width: 30%;
    display: inline-flexbox;
    justify-content: baseline;
    height: 430px;
    justify-self: flex-end;
	border: 5px solid #000;
    position: relative;
    top: 5px;
}

.EQtitle{
    background-color: blue;
    height: 50px;
    width: 100%;
    font-size: 30px;
    justify-content: baseline;
    display: center;
    justify-content: space-between;
    color: azure;
}

.EQitems{
    background-color: gray;
    height: 370px;
    width: 100%;
}

.tNoLogin{
    font-size: 40px;
    font-style: italic;
    color:azure;
}