.EQbox{
    width: 30%;
    display: inline-flexbox;
    justify-content: baseline;
    height: 430px;
    justify-self: flex-end;
	border: 5px solid #000;
    margin-right: 200px;
    position: relative;
    top: 5px;
    left: 200px;
}

.EQtitle{
    background-color: rgb(255, 153, 0);
    height: 50px;
    width: 100%;
    font-size: 30px;
    justify-content: baseline;
    display: center;
    justify-content: space-between;
    color: black;
}

.EQitems{
    background-color: rgb(231, 187, 105);
    height: 370px;
    width: 100%;
}