.tJBbox{
    width: 40%;
    display: inline-flexbox;
    justify-content: baseline;
    height: 350px;
    justify-self: flex-end;
	border: 5px solid #000;
    margin-right: 10px;
}

.tJBtitle{
    background-color: blue;
    height: 50px;
    width: 100%;
    font-size: 30px;
    font-style: italic;
    display: center;
    justify-content: space-between;
    color: white;
}

.tJBitems{
    background-color: gray;
    height: 290px;
    width: 100%;
    justify-content: center;
    align-content: space-between;
}

.tNoLogin{
    font-size: 40px;
    font-style: italic;
    color:azure;
}