.tJIbox{
    width: 55%;
    justify-content: baseline;
    display: inline-flexbox;
    height: 370px;
	border: 5px solid #000;
    margin-left: 10px;
}

.tJItitle{
    background-color: blue;
    height: 50px;
    width: 100%;
    font-size: 30px;
    font-style: italic;
    display: center;
    justify-content: space-between;
    color: white;
}

.tJIitems{
    background-color: gray;
    height: 310px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.tNoLogin{
    font-size: 40px;
    font-style: italic;
    color:azure;
}