.loginmistyle{
    width: 20%;
    background-color: darkgreen;
    display: inline-flexbox;
    justify-content: baseline;
    height: 222px;
    z-index: 2;
}

.logininerContainer{
    background-color: darkgreen;
    height: 30px;
    width: 100%;
}

.loginbotContainer{
    background-color: lightgreen;
    height: 70px;
    width: 100%;
}