.loginmyButton1{
    background-color: transparent;
    border-radius: 10px;
    border: 0;
    box-shadow: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}

.loginmyButton1:hover{
    color: rgb(147, 226, 147);
    cursor: pointer;
}

.loginmyButton1-text{
    color: white;
    text-decoration: none;
    
}

.loginmyButton1-text:hover{
    color: rgb(66, 80, 209);
}
