.ESstyle{
    align-items: stretch;
    display: inline-flexbox;
    display: flex;
    flex-direction: column;
}

.ESbottom{
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 80%);
    width: 100%;
    padding: 0px 35px;
}