.hestyle{
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.hebottom{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    height: calc(100vh - 80%);
}