.hstyle{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 90.3%;
}

.hback{
    width: 200px;
    height: 100px;

}

.hbottom{
    display: flex;
    justify-content: space-between;
}

.hmiddle{
    left: calc(50% - 70px);
    top: 50%;
    position: absolute;
}

.hmiddle2{
    left: calc(50% - 120px);
    bottom: 0%;
    position: absolute;
}