.hstyle{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.up{
    height: 250px;
}

.hmiddle{
    left: calc(50% - 70px);
    height: 270px;
}

.hmiddle2{
    left: calc(50% - 120px);
    bottom: 0%;
    height: 20px;
}