.estyle{
    align-items: stretch;
    display: inline-flexbox;
    display: flex;
    flex-direction: column;
}

.ebottom{
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 80%);
}

.eright{
    display: flex;
    flex-direction: column;
}

.eleft{
    display: flex;
    flex-direction:column;
}