.pstyle{
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.pbottom{
    display: flex;
    height: calc(100vh - 80%);
}

.pbottomRa{
    display: flex;
    height: 100px;
    right: 0cm;
}