.sstyle{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    background-image: url('../../public/fondo.png');
    background-size: cover;
}

.sbottom{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}