.tstyle{
    background-size: cover;
    position: relative;
    background-image: url('../../public/fondo.png');
    position: relative;
    width: 100%;
    height: 100vh;
}

.tfront{
    align-items: stretch;
    display: inline-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
}

.tback{
    background-image: url('../../public/fondo.png');
    position: relative;
    width: 100%;
    height: 100vh;
}

.tbottom{
    display: flex;
    justify-content: space-between;
}