/* ReservaForm.css */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .two-columns-form {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .column-left {
    justify-content: center; /* Centra verticalmente la columna izquierda */
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
  }
  
  select {
    appearance: none;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  