/* ReservaForm.css */
.center {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .two-columns-form {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .column-left {
    justify-content: center; /* Centra verticalmente la columna izquierda */
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
  }
  
  select {
    appearance: none;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegúrate de que sea mayor que el z-index del contenido principal */
  }
  
  .error-popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .popup-content {
    text-align: center;
  }
  
  .mLoginRegister-button-container {
    display: flex;
  }
  
  .miLoginRegister-button {
    background-color: #e6e5ea;
    border: 0;
    font-size: larger;
    font-weight: bold;
    height: 60px;
    width: 22%;
    margin-right: 0%;
  }
  
  .mLoginRegister-button:last-child {
    margin-right: 0;
  }
  
  .mLoginRegister-button:hover {
    cursor: pointer;
  }
  
  .mLoginRegister-button-selected {
    background-color: white;
    color: gray;
  }
  

