.myButton2{
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.myButton2:hover{
    color: gray;
    cursor: pointer;
}

.myButton2-text{
    color: white;
    text-decoration: none;
    
}

.myButton2-text:hover{
    color: gray;
}

.logOut1{
    position: relative;
    top: -150px;
    left: 230px;
    width: 12cm;
    height: 4cm;
    border-top: white 8px outset;
    border-left: white 8px outset;
    border-right: white 8px outset;
}

.logOut2{
    top: -7px;
    right: 226px;
    width: 6cm;
    height: 3.8cm;
    border-bottom: white 8px outset;
    border-left: white 8px outset;
    border-right: black 20px;
    
}

.logOut3 {
    top: -7px;
    right: 226px;
    width: 6.05cm;
    height: 3.8cm;
    border-bottom: white 8px outset;
    border-right: white 8px outset;
    border-left: black 20px;
}
