.myButton4{
    background-color: orange;
    border-radius: 20px;
    border: 3px solid rgb(255, 238, 0);
    box-shadow: none;
    color: green;
    font-size: 60px;
    font-weight: bold;
    text-decoration: dashed;
    align-items: end;
    height: 3cm;
    width: 12cm;
}

.myButton4:hover{
    color: rgb(147, 226, 147);
    cursor: pointer;
}

.myButton4-text{
    color: white;
    text-decoration: none;
    
}

.myButton4-text:hover{
    color: rgb(66, 80, 209);
}