.myButton4{
    background-color: darkblue;
    border-radius: 20px;
    border: 3px solid white;
    box-shadow: none;
    color: azure;
    font-size: 60px;
    font-weight: bold;
    text-decoration: dashed;
    align-items: end;
    height: 6cm;
    width: 12cm;
    font-style: bold;
}

.myButton4:hover{
    color: gray;
    cursor: pointer;
}

.myButton4-text{
    color: white;
    text-decoration: none;
    
}

.myButton4-text:hover{
    color: gray;
}