.scbox{
    width: 35%;
    display: inline-flexbox;
    justify-content: baseline;
    height: 120px;
	border: 5px solid #000;
    margin-left: 230px;
    margin-bottom: 20px;
}

.sctitle{
    background-color: rgb(255, 153, 0);
    height: 40px;
    width: 100%;
    font-size: 25px;
    display: center;
    justify-content: space-between;
    color: black;
}

.scitems{
    background-color: rgb(231, 187, 105);
    height: 70px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.paspaces{
    height: 300px;
    width: 3cm;
}