.scbox{
    width: 35%;
    display: inline-flexbox;
    justify-content: baseline;
    height: 200px;
	border: 5px solid #000;
    margin-left: 230px;
    margin-bottom: 20px;
}

.sctitle{
    background-color: blue;
    height: 40px;
    width: 100%;
    font-size: 25px;
    display: center;
    justify-content: space-between;
    color: azure;
}

.scitems{
    background-color: gray;
    height: 150px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.paspaces{
    height: 300px;
    width: 3cm;
}

.tNoLogin{
    font-size: 40px;
    font-style: italic;
    color:azure;
    height: 370px;
    align-items: center;
}

.aNoLogin{
    font-size: 40px;
    font-style: italic;
    color:azure;
    height: 150px;
    align-items: center;
    background-color:gray;
}