.ptitulosettings{
    width: 40%;
    background-color: lightgreen;
    height: 80px;
    font-size: 50px;
    font-style: italic;
    align-items: start;
    align-self: center;
    border-radius: 50px;
}