.hestyle{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    background-image: url('../../public/fondo.png');
    background-size: cover;
}

.hebottom{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}