.estyle{
    align-items: stretch;
    display: inline-flexbox;
    display: flex;
    flex-direction: column;
    background-image: url('../../public/fondo.png');
    background-size: cover;
}

.ebottom{
    display: flex;
    justify-content: space-between;
}

.eright{
    display: flex;
    flex-direction: column;
}

.eleft{
    display: flex;
    flex-direction:column;
}